<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>389774608675-en3pg9nn5kotv9bjh9gaulicmg4c9go6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389774608675-en3pg9nn5kotv9bjh9gaulicmg4c9go6</string>
	<key>API_KEY</key>
	<string>AIzaSyCTGMEeUQSRQntYRtNIlKUkosELG_TgAXU</string>
	<key>GCM_SENDER_ID</key>
	<string>389774608675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.ChatSwapUp</string>
	<key>PROJECT_ID</key>
	<string>chatswapup</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswapup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389774608675:ios:29b05f8d5b0bb421</string>
	<key>DATABASE_URL</key>
	<string>https://chatswapup.firebaseio.com</string>
</dict>
</plist>